<div id="block-login" class="block">
  <h2>Forgot your password?</h2>
  <div class="content login">
    <div class="flash">
      <div class="message notice">
        <p>Logged in successfully</p>
      </div>
    </div>
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form" }) do |f| %>
      <%= devise_error_messages! %>
      <div class="group">
        <%= f.label :email, :class => "label" %>
        <%= f.email_field :email, :class => "text_field" %>
      </div>
      <div class="group navform wat-cf">
        <div class="right">
          <button type="submit" class="button">
            <!--img alt="Save" src="images/icons/key.png"--> Send me reset password instructions
          </button>
        </div>
      </div>
      <%= render :partial => "devise/shared/links" %>
    <% end %>
  </div>
</div>