<%= render(:partial => 'shared/project_name') -%>
<div class="block">
  <div class="secondary-navigation">
    <%= params[:message] if params[:message] %>
    <ul class="wat-cf">
      <li class="first active"><%= link_to "Retros", team_path(:id => @team.id)  %></li>
      <li><%= link_to "Members", team_members_path(:team_id => @team.id) %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%= @retro.title %></h2>
    
    <div class="inner">    
      <h3 class="title">Add Note</h3>  
      <%= form_for :note, :url => notes_path(:team_id => @team.id, :retro_id => @retro.id), :html => { :class => :form } do |f| -%>
        <div class="group wat-cf">
          <div class="left">
            <%= f.label :note_type, :class => :label %>
          </div>
          <div class="right">
            <%= f.radio_button :note_type, Note::SUCCESS, :checked => true  %>
            <%= f.label "Success" %>

            <%= f.radio_button :note_type, Note::FAILURE %>
            <%= f.label "Failure" %>       
          </div>
        </div>        
        <div class="group wat-cf">
          <div class="left">
            <%= f.label :description, :class => :label %>
          </div>
          <div class="right">
            <%= f.text_field :description, :class => 'text_field' %>
          </div>
        </div>
        <div class="group wat-cf">
          <div class="left">
            <%= f.label :responsible, :class => :label %>
          </div>
          <div class="right">
            <%= f.text_field :responsible, :class => 'text_field' %>
          </div>
        </div>
        <div class="group wat-cf">
          <div class="left">
            <%= f.label :escalation, :class => :label %>
          </div>
          <div class="right">
            <%= f.text_field :escalation, :class => 'text_field' %>
          </div>
        </div>
        
        <div class="group navform wat-cf">
          <button class="button" type="submit">
             <%= image_tag("/assets/tick.png") %> <%= t("web-app-theme.save", :default => "Save") %>
          </button>
          <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
        	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), teams_path, :class => "text_button_padding link_button" %>
        </div>
      <% end -%>
    </div>
    <h2 class="title">Success</h2>
    <div class="inner">      
      <table class="table">
        <tr>             
          <th>Description</th>
          <th>Responsible</th> 
          <th>Escalation</th>         
          <th class="last">&nbsp;</th>
        </tr>
        <% @success_notes.each do |note| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= note.description %></td>
          <td><%= note.responsible %></td>     
          <td><%= note.escalation %></td>          
          <td class="last">
            <%= link_to "Delete", note_path(:id => note.id, :team_id => @team.id, :retro_id => @retro.id), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
    </div>
    <h2 class="title">Failure</h2>
    <div class="inner">      
      <table class="table">
        <tr>             
          <th>Description</th>
          <th>Responsible</th> 
          <th>Escalation</th>         
          <th class="last">&nbsp;</th>
        </tr>
        <% @failure_notes.each do |note| %>
        <tr class="<%= cycle("odd", "even") %>">
          <td><%= note.description %></td>
          <td><%= note.responsible %></td>     
          <td><%= note.escalation %></td>          
          <td class="last">
            <%= link_to "Delete", note_path(:id => note.id, :team_id => @team.id, :retro_id => @retro.id), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>          
        <% end -%>
      </table>
    </div>
  </div>
</div>